<header>
    <div class='container'>    
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      
      {% load static %}
      <img src="{% static 'img/logo.jpg' %}" width='100'></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'make_reservation' %}">主頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'make_reservation' %}">顯示購物車</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'make_reservation' %}">確認結帳</a>
        </li>	
        <li class="nav-item">
          <a class="nav-link" href="{% url 'make_reservation' %}">聯絡我們</a>
        </li>			
      </ul>
    
    </div>
  </nav>
  
    </div>
  </header>
