{% extends 'shop/base.html' %}

{% block title %}Order Confirm - Cake Store{% endblock %}

{% block content %}

<style>
    body {
        background-color:#f8f9fa;
        padding-top: 60px;
    } 
    .register-container {
        margin-top: 50px;
    }  
    .card {
        border-radius: 10px;
    }   
</style>
<h2>Order Confirmation</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Cake</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in orders %}
            <tr>
                <td>{{ item.order.cake.name }}</td>
                <td>{{ item.order.quantity }}</td>
                <td>${{ item.order_total }}</td>
                <td>
                    <a href="{% url 'order_increase' item.order.id %}" class="btn btn-success btn-sm">+</a>
                    <a href="{% url 'order_decrease' item.order.id %}" class="btn btn-warning btn-sm">-</a>
                    <a href="{% url 'order_delete' item.order.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total Price: ${{ total_price }}</h3>
    <form method="post" action="{% url 'order_confirm' order_id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Confirm Order</button>
    </form>
    <p></p>
        
        <div class="container register-container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center">
                            <h2>還需要其他的蛋糕嗎?</h2>
                            <form method="post" action="{% url 'add_item_to_order' order_id %}">
                                {% csrf_token %}
                                {{ order_form.as_p }}
                                <button type="submit" class="btn btn-secondary">Add Item</button>
                                <!-- secondary -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}